{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Войти">
    </form>
<button class="btn  btn-round form-control">
    <a href="{% url 'auth:register' %}" class="">
        Зарегистрироваться
    </a>
</button>
{% endblock %}