* {
    margin: 0;
    padding: 0;
}

.users_list {
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
}

.user_record {
    width: 200px;
    border: 1px solid black;
}

.user_record.admin img{
    width: 250px;
}

.user_record {
    padding: 5px;
}

.user_record img {
    width: 100px;
}

.user_role{
    display: inline-block;
}

.new_user {
    position: sticky;
    width: 200px;
    height: 100px;
}
